@*To uSe strongly type view*@
@* @model Asp.Net_Core_Project.Models.Employee; *@

@model Asp.Net_Core_Project.ViewModel.HomeDetailsViewModel;


@*This we used to access data through viewdata*@
<h1>@ViewData["pagetitle"]</h1>

@*To use blocker C# Code & this viewdata stores string value*@
@{
    /*as Asp.Net_Core_Project.Models.Employee we have done to access the employee model properties*/
    var empldata = ViewData["EmpData"] as Asp.Net_Core_Project.Models.Employee;
}
<div>
    Name : @empldata.Name;
</div>
<div>
    Email : @empldata.Email;
</div>
<div>
    Department : @empldata.Department;
</div>

<h1>@ViewBag.P1</h1>
@*For accessing object properties name , if our ouput is in form of object*@
@* <h2>@ViewBag.P1.PropertyName</h2> *@

@*Using strongly type view*@
<h1>Using Strongly type view</h1>
@* <div>@Model.Name</div> *@

<div>Page Tile Getting using viewmodel :  @Model.pagetitle</div>
